In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('df.csv')

In [5]:
del df['Unnamed: 0']

In [7]:
df.shape

(208, 209)

In [ ]:
pd.DataFrame([시리즈1, 시리즈2])

In [9]:
df[['C1', 'C1.1']]

                C1           C1.1
0     30689.847019   10207.351751
1     17012.226055   19852.323747
2     31388.742966    9461.181602
3     44681.052026   14730.684199
4    746580.197405  780090.848986
5    726033.088672  759437.814625
6    724729.141252  758114.710099
7    633931.037733  666811.239038
8    606162.818641  638511.734296
9    645469.366440  678111.949035
10   657138.012746  689889.420338
11   678527.555528  711457.810939
12   573771.277776  605422.529600
13   530485.689929  561560.111843
14   584245.241794  616020.549338
15   582797.095481  614553.052863
16   505300.663308  535907.105726
17   503106.502732  533608.557717
18   507590.103759  538188.659211
19   420728.630841  449301.837185
20   415006.737084  444668.178526
21   432908.604438  463025.283353
22   359894.267164  387818.965716
23   423197.299264  453060.942232
24   307223.028851  337731.778351
25   319156.377049  350194.547114
26   265367.829295  296171.218572
27   346669.964857  378624.869729
28   242507.877603  271879.910037
29   230197.504726  258257.821846
..             ...            ...
178  488958.806223  519547.733765
179  478462.819663  508865.329496
180  416516.494112  446381.167015
181  416571.804929  446506.660127
182  401488.882076  430810.212161
183  405004.016692  434527.085388
184  262965.502148  290499.484712
185  332089.251914  359380.054677
186  333257.194571  360567.061662
187  333157.069307  360633.905536
188  179207.977551  211646.848956
189  211389.951523  244971.990641
190  176033.514567  208308.865626
191  175512.564280  207805.238717
192  541654.828391  574489.407056
193  532949.446373  565738.689223
194  551726.410334  584674.756829
195  544084.339545  576928.452905
196  185291.791571  204291.915381
197  184126.021524  202778.227326
198  179983.386972  197394.971447
199  180915.272381  198478.628174
200  181230.083182  200421.898565
201  193835.494669  215080.402696
202  195975.614754  217670.899770
203  192176.424597  213165.902075
204  172299.961356  185944.405759
205  178834.744905  195444.748658
206  180429.326064  197811.440589
207  178573.647549  195146.758713

[208 rows x 2 columns]

In [10]:
52*4

208

In [11]:
12/208

0.057692307692307696

In [12]:
208-12

196

In [31]:
df.columns

Index(['C1', 'C1.1', 'C1.2', 'C1.3', 'C2', 'C2.1', 'C2.2', 'C2.3', 'C3',
       'C3.1',
       ...
       'SJ.3', 'SK', 'SK.1', 'SK.2', 'SK.3', 'SQ', 'SQ.1', 'SQ.2', 'SQ.3',
       'label'],
      dtype='object', length=209)

In [41]:
tmp = None
mySum = 0
for i in range(len(df.columns)):
    if df.columns[i]=='label': break
    tmp = df[df[df.columns[i]]<77000][df.columns[i]]
    mySum+=len(tmp)
print(mySum)

3029

In [34]:
208*208

43264

In [37]:
tmp.name[:2]==df['']

'SQ'

In [40]:
df.columns[i]

'label'

In [ ]:
832개중에 46개 틀림 42,432개 중에 2,243개 틀림

In [43]:
(46+2243)/(42432+832)

0.05290772928994083